<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.navigatorProject.dao.interfaces.IVertexDao">

    <sql id="body">
        v.id AS vertex_id,
        v.distance AS vertex_distance
        v.source AS vertex_source
        v.destination AS vertex_destination
    </sql>

    <insert id="setDestinationAndSource" useGeneratedKeys="true" parameterType="com.solvd.navigatorProject.binary.Vertex">
        INSERT INTO vertices (source, destination, distance)
        VALUES ( #{arg1}, #{arg2}, #{arg0} );
    </insert>


    <resultMap id="VertexResultMap" type="com.solvd.navigatorProject.binary.Vertex" autoMapping="false">
        <id column="vertex_id" property="id"/>
        <result column="vertex_distance" property="distance"/>
        <result column="vertex_source" property="source" />
        <result column="vertex_destination" property="destination" />
    </resultMap>
</mapper>